.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-color: #00000060;
  opacity: 0;
  transition: 0.3s;
  
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 75%;
    height: 75%;
    background-color: #fff;
    transform: translateY(-75px);
    transition: 0;
    opacity: 0;
    transition: 0.3s;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    
    .modal {
      
      &__content {
        opacity: 1;
        transform: translateY(0);
        transition: 0.8s;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: 350px;
    padding: 10px;
    margin: 10px 0;
    border: 0;
    background-color: aliceblue;
    color: #000;

    &::placeholder {
      color: #00000080;
    }

    &:focus {
      background-color: steelblue;
      color: #fff;

      &::placeholder {
        color: #ffffff80;
      }
    }
  }

  &__selection {
    color: #000;
    cursor: pointer;
  }

  &__button {
    margin: 10px 0;
    padding: 10px;
    width: 250px;
    border: 0;
    background-color: springgreen;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: steelblue;
    }
  }

  &__error {
    color: red;
  }
}
